h1 {
    color: #167dd7;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}
body{
    width:100%; /*ページ全体の幅は100%と指定する*/	
    text-align:center; /*ページ全体を中央揃えにする*/
}
#wrap{ 
width: 960px;	   /*全体の幅を指定する*/  
margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
text-align:left;   /*全体を左揃えにする。*/
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
}
  
.balloon:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

.balloon:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #555;
    z-index: 1;
}

.balloon p {
    margin: 0;
    padding: 0;
}